{%- assign st = section.settings -%}
{% liquid
  assign storefront_filters_enabled = false
  if st.filters_type == 'storefront_filters' 
    assign storefront_filters_enabled = true
  endif
%}

{%- if st.show_filter or st.show_sorting -%}
  {%- assign position = st.sidebar -%}
  {%- assign sidebar_title = st.sidebar_title -%}

  <div class="m-sidebar{% unless show_filter %} m:hidden{% endunless %}{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}" data-type="{{ position }}">
    <div class="m-sidebar--content{% if sidebar_title == blank %} m-sidebar--blank-title{% endif %}">
      <div class="m-sidebar--header">
        {%- if sidebar_title != blank -%}
          <h3 class="m-sidebar--title"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 20 14" fill="none"> <path d="M4 7H16M1 1H19M7 13H13" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </svg>{{ sidebar_title }}</h3>
        {%- endif -%}
        <div class="m-sidebar--close{% if position != 'fixed' %} xl:m:hidden{% endif %}">
          <svg class="m-svg-icon--large" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
        </div>
      </div>
      <div class="m-filter--wrapper{% if storefront_filters_enabled %} m:flex m:flex-col m-storefront--enabled{% endif %}">
        {%- if st.filters_type == 'storefront_filters' -%}
          {%- for block in section.blocks -%}
            {% case block.type %}
              {% when 'collections' %}
                {% liquid
                  assign menu = linklists[block.settings.menu]
                  assign use_accordion = block.settings.use_accordion
                  assign open_filtergroup = block.settings.open_filtergroup
                  assign show_image = block.settings.show_image
                %}
                <div class="m-filter--widget m-filter--widget-{{ block.type }}{% if use_accordion %} m-accordion--item{% endif %}{% if use_accordion and open_filtergroup %} open{% endif %}" 
                  data-block-type="collections"
                  style="order: {{ forloop.index }}"
                >
                  <h4 class="m-filter--widget-title h5{% if use_accordion %} m-accordion--item-button {% endif %}">
                    {{ block.settings.title }}
                    {% if use_accordion %}
                      <span class="m-accordion--item-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                          <rect x="7" width="2" height="16" rx="1" fill="#00476C"></rect>
                          <rect x="16" y="7" width="2" height="16" rx="1" transform="rotate(90 16 7)" fill="#00476C" class="vertical"> </rect>
                        </svg>
                      </span>
                    {% endif %}
                  </h4>
                  <div class="m-filter--widget-content {% if use_accordion %} m-accordion--item-content{% endif %}"{%- if open_filtergroup -%} style="opacity: 1;"{%- endif -%}>
                    {% if menu.links != blank %}
                    <ul class="m-link-lists">
                      {% for link in menu.links %}
                        {% if link.url contains '/collections/' %}
                        <li class="m-link-lists--item{% if link.active %} active{% endif %}" data-tag-filter>
                          <a href="{{ link.url }}" title="{{ link.title }}" class="m-link{% if show_image and link.object.image != blank %} m:block{% endif %}" data-collection-link>
                            {% if show_image and link.object.image != blank %}
                              {% render 'responsive-image', image: link.object.image, alt: link.title, aspect_ratio: '1/1' %}
                            {% endif %}
                            <span>{{ link.title }}</span>
                          </a>
                        </li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                </div>
              {% when 'banner_promotion' %}
                {{ 'component-image-card.css' | asset_url | stylesheet_tag }} 
                <div class="m-banner-promotion m-filter--widget"
                  style="order: {{ forloop.index }}"
                >
                  {% render 'image-card', 
                    block: block, 
                    index: forloop.index,
                    color_scheme: block.settings.color_scheme,
                    stack_on_mobile: false,
                    image_card_class: 'm-hover-box m-hover-box--scale-up',
                    animated: animated, 
                    animation_effect: animation_effect
                  %}
                </div>
            {% endcase %}
          {%- endfor -%}
          {% render 'storefront-filters', section: section, results: collection %}
        {%- else -%}
          {% render 'filter-by-tags', section: section %}
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endif -%}
