<section class="help-cta {{ section.settings.section_class }}">
  <div class="container">
    <div class="help-cta__inner m-image-with-text__inner m:flex m:flex-wrap m:items-center">
      <!-- Left content -->
      <div class="help-cta__content m-image-with-text__image m:column m:w-full lg:m:w-6/12">
        <h2 class="help-cta__content-title h5">{{ section.settings.heading }}</h2>

        <p class="help-cta__text">
          {{ section.settings.text }}
        </p>

        <div class="help-cta__buttons common-btn-div">
          {% if section.settings.primary_label != blank %}
            <a href="{{  product.url | within: collection }}" class="btn btn--primary common-btn">
              {{ section.settings.primary_label }}
            </a>
          {% endif %}

          {% if section.settings.secondary_label != blank %}
            <a href="{{ section.settings.secondary_link }}" class="btn btn--secondary common-btn btn-bordered">
              {{ section.settings.secondary_label }}
            </a>
          {% endif %}
        </div>
      </div>

      <!-- Right image -->
      <div class="help-cta__image m-image-with-text__content m:column m:w-full lg:m:w-6/12">
        {% if section.settings.image %}
          <img
            src="{{ section.settings.image | image_url: width: 800 }}"
            alt="{{ section.settings.heading }}"
            loading="lazy"
          >
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Help CTA (Split)",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Questions about storm and screen doors?"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default": "We’ve helped folks replace warped aluminum, fit new frames to old porches, and measure openings that are anything but square.\n\nIf you’re not sure where to start — or want a second set of eyes — we’re here."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Right image"
    },
    {
      "type": "text",
      "id": "section_class",
      "label": "Section Class",
      "default": "py-80"
    },
    {
      "type": "text",
      "id": "primary_label",
      "label": "Primary button label",
      "default": "Customize and Buy"
    },
    {
      "type": "url",
      "id": "primary_link",
      "label": "Primary button link"
    },
    {
      "type": "text",
      "id": "secondary_label",
      "label": "Secondary button label",
      "default": "Talk to a Craftsman"
    },
    {
      "type": "url",
      "id": "secondary_link",
      "label": "Secondary button link"
    }
  ],
  "presets": [
    {
      "name": "Questions / Help CTA"
    }
  ]
}
{% endschema %}
